<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">

      <a class="item" href="{{ site.telegram-url }}" target="_blank">
        <i class="icon telegram"></i>
        Join our telegram channel
      </a>

      <a class="item" href="{{ site.github-issues-url }}" target="_blank">
        <i class="icon github"></i>
        See an error? Create an issue on GitHub
      </a>

      <a class="item" href="/privacy-policy">
        Disclaimer &amp; Privacy policy
      </a>

    </div>

    <div class="ui inverted section divider"></div>

    <div class="ui inverted link list">
      <h4 class="ui inverted header">
        Do you like what we are doing? Support us!
      </h4>
      <span class="item">
        <span class="unselectable brighter">BTC: </span><span class="white mono">3KZWU7cYPW7r11YouFUNp12x2DtxTCeemy</span>
      </span>
      <span class="item">
        <span class="unselectable brighter">ETH: </span><span class="white mono">0x0455b374F11791BCD9AF5c2602cC359153bDdD21</span>
      </span>
    </div>

  </div>
</div>
