<div class="little-top-padded"></div>

<div class="centered-container mobile-hidden">
  <div class="ui horizontal small divided list">
    <span class="item">
      * Smart contract must be deployed before ICO start
    </span>
    <span class="item">
      ** As of 22/04/18 Working product on mainnet before ICO start
    </span>
    <span class="item">
      *** +2 years vesting with a 6 month cliff
    </span>
  </div>
</div>

<div class="only-mobile-visible">
  <div>
    * Smart contract must be deployed before ICO start
  </div>
  <div>
    ** Working product must be available before ICO start
  </div>
  <div>
    *** +2 years vesting with a 6 month cliff
  </div>
</div>

<div class="little-top-padded"></div>

{% for ico in include.icos %}
{% if ico.sponsored == true %}
{% assign extra_class = "highlighted" %}
{% else %}
{% assign extra_class = "" %}
{% endif %}
<table class="ui celled horizontal padded definition table only-device-visible">
  <tbody>
  <tr class="{{ extra_class }} light-gray-background">
    <td class="three wide">
      Company name
    </td>
    <td class="center aligned">
      {% include company-cell.html name=ico.name url=ico.url image=ico.image %}
      {% if ico.sponsored %}
      <div class="relative">
        <p class="sponsored">
          Sponsored
        </p>
      </div>
      {% endif %}
    </td>
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Real team
    </td>
    {% include device-bool-cell.html value=ico.real_team %}
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      GitHub
    </td>
    {% include device-bool-cell.html value=ico.github %}
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Smart Contract*
    </td>
    {% include device-bool-cell.html value=ico.smart_contract %}
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Product**
    </td>
    {% include device-bool-cell.html value=ico.product %}
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Vesting***
    </td>
    {% include device-bool-cell.html value=ico.min_vesting %}
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Have a company
    </td>
    {% include device-bool-cell.html value=ico.have_company %}
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Transparent
    </td>
    {% include device-bool-cell.html value=ico.transparent %}
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Location
    </td>
    <td class="center aligned">
      {% include flag-cell.html country=ico.location %}
    </td>
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Comments
    </td>
    <td class="center aligned">
      {% include comments-cell.html comments=ico.comments github_issue=ico.issue_url %}
    </td>
  </tr>
  <tr class="{{ extra_class }}">
    <td class="three-wide">
      Date
    </td>
    <td class="center aligned">
      {% include ico-dates-cell.html start-date=ico.ico_start_date end-date=ico.ico_end_date %}
    </td>
  </tr>
  </tbody>
</table>
{% endfor %}

<div class="device-hidden">
  <div id="ico-table" class="ui celled grid">
    <div class="ui center aligned sticky row" id="table-header">
      <div class="two wide has-vertically-aligned-content column header-col">Company name</div>
      <div class="one wide has-vertically-aligned-content column header-col">Real team</div>
      <div class="one wide has-vertically-aligned-content column header-col">GitHub</div>
      <div class="one wide has-vertically-aligned-content column header-col">Smart Contract*</div>
      <div class="one wide has-vertically-aligned-content column header-col">Product**</div>
      <div class="one wide has-vertically-aligned-content column header-col">Vesting***</div>
      <div class="one wide has-vertically-aligned-content column header-col">Have a company</div>
      <div class="two wide has-vertically-aligned-content column header-col">Transparent</div>
      <div class="one wide has-vertically-aligned-content column header-col">Location</div>
      <div class="four wide has-vertically-aligned-content column header-col">Comments</div>
      <div class="one wide has-vertically-aligned-content column header-col">Date</div>
    </div>

    {% for ico in include.icos %}
    {% if ico.sponsored == true %}
    {% assign extra_class = "highlighted" %}
    {% else %}
    {% assign extra_class = "" %}
    {% endif %}
    <div class="{{ extra_class }} row">
      <div class="two wide has-vertically-aligned-content center aligned column">
        {% include company-cell.html name=ico.name url=ico.url image=ico.image sponsored=ico.sponsored %}
        {% if ico.sponsored %}
          <p class="sponsored">
            Sponsored
          </p>
        {% endif %}

      </div>
      {% include desktop-bool-cell.html value=ico.real_team tooltip="Real team" width="one" %}
      {% include desktop-bool-cell.html value=ico.github tooltip="GitHub" width="one" %}
      {% include desktop-bool-cell.html value=ico.smart_contract tooltip="Smart Contract" width="one" %}
      {% include desktop-bool-cell.html value=ico.product tooltip="Product" width="one" %}
      {% include desktop-bool-cell.html value=ico.min_vesting tooltip="Vesting" width="one" %}
      {% include desktop-bool-cell.html value=ico.have_company tooltip="Have a company" width="one" %}
      {% include desktop-bool-cell.html value=ico.transparent tooltip="Transparent" width="two" %}
      <div class="one wide has-vertically-aligned-content column">
        {% include flag-cell.html country=ico.location %}
      </div>
      <div class="four wide column">
        {% include comments-cell.html comments=ico.comments github_issue=ico.issue_url %}
      </div>
      <div class="one wide has-vertically-aligned-content column">
        {% include ico-dates-cell.html start-date=ico.ico_start_date end-date=ico.ico_end_date %}
      </div>
    </div>
    {% endfor %}

  </div>
</div>

