---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  background-color: #FFFFFF;
}
#menu {
  border-bottom: none;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 3em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0 0;
  padding: 5em 0;
}
