---
# Only the main Sass file needs front matter (the dashes are enough)
---

$max-mobile-res: 767px;
$max-device-res: 1199px;

$light-gray: #f7f7f7;

$system-monospace: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;

body {
  background-color: #FFFFFF;
}
#menu {
  border-bottom: none;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.little-top-padded {
  margin-top: 1.5em;
}
.top-padded {
  margin-top: 3em;
}
.top-marginless {
  margin-top: 0 !important;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0 0;
  padding: 5em 0;
}
.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link {
  color: rgba(255, 255, 255, 0.5);
}

.footer-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.white {
  color: white;
}

.brighter {
  color: rgba(255,255,255,.65);
}

.mono {
  font-family: $system-monospace;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.ui.definition.table {
  margin: 3em 0 !important;
}

.mobile-leaderboard {
  width: 320px;
  height: 50px;
}

.leaderboard {
  width: 728px;
  height: 90px;
}

.large-leaderboard {
  width: 970px;
  height: 90px;
}

@media screen and (min-width: $max-mobile-res + 1) {
  .only-mobile-visible {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

@media screen and (max-width: $max-mobile-res) {
  .mobile-hidden {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

.top-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #052d49;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.top-banner-link {
  color: white;
  font-size: 1rem;
  line-height: 1.25;
  margin-right: 0.5rem;
}

a.top-banner-link:hover {
  color: white !important;
}

@media screen and (min-width: $max-device-res + 1) {
  .only-device-visible {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .only-tablet-visible {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

@media screen and (max-width: $max-device-res) {
  .device-hidden {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .only-computer-visible {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

@media screen and (max-width: $max-mobile-res) {
  .mobile-hidden {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .only-tablet-visible {
      visibility: hidden;
      clear: both;
      display: none;
    }

  .ui.definition.table tr td.definition, .ui.definition.table tr td:first-child:not(.ignored) {
    background-color: inherit !important;
  }

  .light-gray-background {
    background-color: $light-gray !important;
  }
}
