<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include ad.html %}
    <!--{% include header.html %}-->

    <div class="ui little-top-padded container">
      <div class="centered-container">
        <i class="huge blue search icon"></i>
        <img src="/assets/logo_ico-check.svg" class="ui small image">
      </div>
      <h2 class="ui center aligned header little-top-padded">
        Background checks and due diligence for ICOs
      </h2>
      <p></p>
    </div>

    <div class="ui little-top-padded container">
      <div class="ui internally celled very relaxed centered stackable middle aligned grid">
        <div class="row">

          <div class="five wide column">
            <h3 class="ui header">
              <i class="github icon"></i>
              <div class="content">
                <a href="{{ site.github-issues-url }}" target="_blank">
                  Visit GitHub for explanations
                </a>
                <div class="sub header">
                  Each reviewed ICO has it's own GitHub issue where we provide related information
                </div>
              </div>
            </h3>
          </div>

          <div class="five wide column">
            <h3 class="ui header">
              <i class="telegram icon"></i>
              <div class="content">
                <a href="{{ site.telegram-url }}" target="_blank">
                  Join our telegram
                </a>
                <div class="sub header">
                  Discuss your investment opportunities with the community
                </div>
              </div>
            </h3>
          </div>

          <div class="five wide column">
            <h3 class="ui header">
              <i class="twitter icon"></i>
              <div class="content">
                <a href="{{ site.twitter-url }}" target="_blank">
                  Follow us on Twitter
                </a>
                <div class="sub header">
                  Get latest due dilligence updates on your Twitter feed
                </div>
              </div>
            </h3>
          </div>
        </div>

      </div>
    </div>

    <div class="ui little-top-padded wide-container">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
