---
layout: default
---

<div class="ui top-padded container">
  <h2 class="ui center aligned icon header">
    <i class="circular inverted teal search icon"></i>
    ICO background check
    <div class="sub header">
      Due diligence for ICO's
    </div>
  </h2>
  <p></p>
</div>


<div class="ui top-padded container">
  <div class="ui internally celled very relaxed centered stackable middle aligned grid">
    <div class="row">

      <div class="six wide column">
        <h3 class="ui header">
          <i class="github icon"></i>
          <div class="content">
            <a href="{{ site.github-issues-url }}">
              Visit GitHub for explanations
            </a>
            <div class="sub header">
              Each reviewed ICO has it's own GitHub issue where we provide related information
            </div>
          </div>
        </h3>
      </div>

      <div class="six wide column">
        <h3 class="ui header">
          <i class="telegram icon"></i>
          <div class="content">
            <a href="{{ site.telegram-url }}">
              Join our telegram
            </a>
            <div class="sub header">
              Discuss your investment opportunities with the community
            </div>
          </div>
        </h3>
      </div>
    </div>

  </div>
</div>


<div class="ui top-padded container">

  {% for ico in site.data.icos %}
  <table class="ui celled horizontal padded definition table only-mobile-visible">
    <tbody>
        <tr>
          <td class="three wide">
            Company name
          </td>
          {% include company-cell.html name=ico.name url=ico.url image=ico.image %}
        </tr>
        <tr>
          <td class="three-wide">
            Real team
          </td>
          {% include bool-cell.html value=ico.real-team %}
        </tr>
        <tr>
          <td class="three-wide">
            GitHub
          </td>
          {% include bool-cell.html value=ico.github %}
        </tr>
        <tr>
          <td class="three-wide">
            Smart Contract*
          </td>
          {% include bool-cell.html value=ico.smart-contract %}
        </tr>
        <tr>
          <td class="three-wide">
            MVP**
          </td>
          {% include bool-cell.html value=ico.mvp %}
        </tr>
        <tr>
          <td class="three-wide">
            Vesting***
          </td>
          {% include bool-cell.html value=ico.min-vesting %}
        </tr>
        <tr>
          <td class="three-wide">
            Have a company
          </td>
          {% include bool-cell.html value=ico.have-company %}
        </tr>
        <tr>
          <td class="three-wide">
            Location
          </td>
          {% include flag-cell.html country=ico.location %}
        </tr>
        <tr>
          <td class="three-wide">
            Comments
          </td>
          {% include comments-cell.html comments=ico.comments is-mobile=true %}
        </tr>
        <tr>
          <td class="three-wide">
            Date
          </td>
          {% include ico-dates-cell.html start-date=ico.ico-start-date end-date=ico.ico-end-date %}
        </tr>
        <tr>
          <td class="three-wide">
            Safe
          </td>
          {% include bool-cell.html value=ico.safe url=ico.issue-url %}
        </tr>
    </tbody>
  </table>
  {% endfor %}

  <table class="ui celled padded table mobile-hidden">
    <thead>
      <tr>
        <th class="single line center aligned">Company name</th>
        <th class="center aligned">Real team</th>
        <th class="center aligned">GitHub</th>
        <th class="center aligned">Smart Contract*</th>
        <th class="center aligned">MVP**</th>
        <th class="center aligned">Vesting***</th>
        <th class="center aligned">Have a company</th>
        <th class="center aligned">Location</th>
        <th class="center aligned">Comments</th>
        <th class="center aligned">Date</th>
        <th class="center aligned">Safe</th>
      </tr>
    </thead>
    <tbody>

    {% for ico in site.data.icos %}
    <tr>
      {% include company-cell.html name=ico.name url=ico.url image=ico.image %}

      {% include bool-cell.html value=ico.real-team %}
      {% include bool-cell.html value=ico.github %}
      {% include bool-cell.html value=ico.smart-contract %}
      {% include bool-cell.html value=ico.mvp %}
      {% include bool-cell.html value=ico.min-vesting %}
      {% include bool-cell.html value=ico.have-company %}

      {% include flag-cell.html country=ico.location %}

      {% include comments-cell.html comments=ico.comments is-mobile=false %}
      {% include ico-dates-cell.html start-date=ico.ico-start-date end-date=ico.ico-end-date %}

      {% include bool-cell.html value=ico.safe url=ico.issue-url %}
    </tr>
    {% endfor %}

    </tbody>
  </table>

</div>


<div class="ui top-padded container">
  * Smart contract must be deployed before ICO start <br>
  ** MVP must be available before ICO start <br>
  *** +2 years vesting with a 6 month cliff
</div>

